/* Font faces */ 

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Generic, main level styling */

html {
  font-family: "Montserrat", sans-serif;
  width:100%;
  color: #222222;
}

body {
  margin:0;
}

/* Header Styling */

.header {
  display:flex;
  justify-content: space-between;
  background-color: #84dcc6;
  padding: 15px 2.5rem;
}

.header .nav {
  display:flex;
  list-style-type: none;
  gap: 30px;
}

.header .nav li a {
  font-weight:bold;
  color: #222222;
  text-decoration: none;
}

.header .nav li a:hover {
  color: #4b4e6d;
}

/* Form styling */

.form-container {
  display:flex;
  justify-content: space-around;
  height: 500px;
  align-items: center;

}

form {
  padding: 20px;
  color:#fff;
  background-color: #95a3b3;
  display:flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.form-row {
  display:flex;
  gap: 20px;
}

.form-item {
  display:flex;
  flex-direction: column;
}

form input {
  border:none;
  height: 1.75rem;
  background-color:#f2f2f2;
}

form input:active {
  border: 1px solid #598392!important;
}

form input[type="submit"] {
  margin-top: 10px;
  border-radius: 2px;
  border:none;
  background-color:#38a3a5;
  color:#fff;
}

form input[type="submit"]:hover {
  margin-top: 10px;
  transform: translateY(-4px);
  transition: ease-in-out;
  background-color: #84dcc6;
  color:#222222;
}

/* Index page row styling */
.row-1 {
  margin:10px auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:2.5rem;
  background-color:#95a3b3;
}

.row-2 {
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  gap:10px;
  min-height:175px;
}

/* Dashboard Welcome Bar Styling */

.welcome-bar {
  color:#fff;
}

.welcome-summary {
  display:flex;
  flex-direction: column;
}

.welcome-username {
  display:block;
  
}

/* Buttons Styling */

.edit-user-link {
  color:white;
  padding:10px;
  border-radius: 2px;
  text-decoration:none;
  background-color:#2a9d8f;
  margin: 2% 0;
}

.edit-user-link:hover {
  background-color:white;
  color:#2a9d8f;
}

.edit-password-link {
  background-color:#2a9d8f;
  color:white;
  padding:10px;
  border-radius: 2px;
  text-decoration:none;
}

.edit-password-link:hover {
  background-color:white;
  color:#2a9d8f;
}

.logout-link {
  padding:10px;
  border-radius: 2px;
  background-color: #fff;
  color: #38a3a5;
  text-decoration:none;
}

.logout-link:hover {
  background-color: #38a3a5;
  color: #fff;
}

.delete-task-link {
  color:white;
  padding:10px;
  border-radius: 2px;
  text-decoration:none;
  background-color: #264653;
  width: 30%;
  margin:2% 0;
}

.delete-task-link:hover {
  color:#264653;
  background-color: #edede9;
}

.edit-task-link {
  color:white;
  padding:10px;
  border-radius: 2px;
  text-decoration:none;
  background-color:#2a9d8f;
  width:30%;
  margin: 2% 0;
}

.edit-task-link:hover {
  color:#2a9d8f;
  background-color:#edede9;
}

/* User-related editing form styling */


.user-form-container {
  height:auto;
  display:flex;
  flex-direction:column;
  width:100%;
  align-items:center;
  justify-content: center;
  margin-top:10px;
}



.user-form {
  display:flex;
  min-width:175px;
  min-height:175px;
  padding:28px;
  background-color:#95a3b3;
  
}

/* Task related styling */

.task-container-row {
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  background-image:linear-gradient(35deg, #38a3a5, #b8f2e6);
  gap: 10px;
  padding:10px;
  margin-top: 10px;
}

.task-form-container {
  width:20%;
}

.task-form {
  display:flex;
  min-width:175px;
  min-height:175px;
  padding:28px;
  background-color:#95a3b3;
}

.tasks-display-container {
  width:80%;
  
}

.task-display {
  display:flex;
  min-height:175px;
  gap:10px;
  justify-content:flex-start;
  flex-wrap:wrap;
  padding:10px;
  background-image:linear-gradient(35deg, #38a3a5, #b8f2e6);
}

.task-box {
  display:flex;
  flex-direction:column;
  width:20%;
  min-height:175px;
  background-color:#fff;
  padding:15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius:2px;
}

.task-overview-container {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-content:center;
  /*padding: 25px;*/
}

.task-overview-box {
  display:flex;
  flex-direction:column;
  width:auto;
  height:auto;
  background-color:#fff;
  color:#222;
  padding:30px;
  box-shadow:0 3px 10px rgb(0 0 0 / 0.2);
  border-radius:2px;
}

/* Comments related styling */

.comment-form {
  display:flex;
  min-width:175px;
  min-height:175px;
  padding:28px;
  color: #222;
  background-color:#fff;
  margin-right: 10px;
}

.comment-container {
  display:flex;
  width:100%;
  justify-content:flex-start;
  align-content:flex-start;
  /*padding: 25px;*/
}

.display-comment-container {
  display:flex;
  width:80%;
  flex-flow: row wrap;
  justify-content:flex-start;
  align-items:flex-start;
  gap:20px;

}

.display-comment-box {
  display:flex;
  flex-flow: column;
  width:40%;
  height:auto;
  border:1px solid #222222;
  background-color:#f1f1f1;
  color:#222222;
  padding:25px;
  box-shadow:0 3px 10px rgb(0 0 0 / 0.2);
  border-radius:2px;
}