/* Font faces */ 

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Generic, main level styling */

html {
  font-family: "Montserrat", sans-serif;
  width:100%;
  color: #17202A;
}

body {
  margin:0;
  color: #17202A;
}

/* Header Styling */

.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #AED6F1;
  padding: 15px 2.5rem;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
}

.header .nav {
  display:flex;
  list-style-type: none;
  gap: 30px;
}

.header .nav li a {
  font-weight:bold;
  color: #17202A;
  text-decoration: none;
}

.header .nav li a:hover {
  color: #566573;
}

/* Form styling */

.form-container {
  display:flex;
  justify-content: space-around;
  height: auto;
  align-items: center;

}

.signup-form-container {
  margin-top: 10px;
  display:flex;
  justify-content: space-around;
  height: auto;
  align-items: center;

}

form {
  padding: 20px;
  color: #17202A;
  background-color: #fff;
  display:flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.form-row {
  display:flex;
  gap: 20px;
}

.form-item {
  display:flex;
  flex-direction: column;
}

form input {
  border:none;
  height: 1.75rem;
  background-color:#f2f2f2;
}

form input[type="submit"] {
  margin-top: 10px;
  border-radius: 2px;
  border:none;
  background-color:#AED6F1;
  color:#17202A;
}

form input[type="submit"]:hover {
  margin-top: 10px;
  transform: translateY(-4px);
  transition: ease-in-out;
  background-color: #2E86C1;
  color:#17202A;
}

@media only screen and (max-width: 600px) {
  .signup-form-container {

    width:100%!important;
  }
}


/* Index page row styling */
.row-1 {
  margin:10px auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:2.5rem;
  background-color:#fff;
}

.row-2 {
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  gap:10px;
  min-height:175px;
}

/* Media queries for index row */
@media only screen and (max-width: 600px) {
  .row-2 {
    display:flex;
    flex-direction: column;
  }

  .task-form-container {
    width:100%!important;
  }

  .tasks-display-container {
    width:100%!important;
    
  }

  .task-display {
    justify-content: space-evenly!important;
  }

  .task-box {
    width:40%!important;
  }
}
/* media queries */
@media only screen and (min-width:600px) and (max-width: 1124px) {
  .task-form-container {
    width:auto!important;
  }

  .task-display-container {
    width:auto!important;
  }

  .task-box {
    width:40%!important;
  }
 }

 @media only screen and (min-width: 600px) and (max-width: 628px) {
   .task-box {
     width: 100%!important;
   }
 }

/* Dashboard Welcome Bar Styling */

.welcome-bar {
  width:100%;
  color: #171738;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.welcome-summary {
  display:flex;
  flex-direction: column;
}

.welcome-username {
  display:block;
  
}

/* Buttons Styling */

.edit-user-link {
  color:#17202A;
  padding:10px;
  border-radius: 2px;
  text-decoration:none;
  background-color:#AED6F1;
  margin: 2% 0;
}

.edit-user-link:hover {
  background-color:white;
  color:#17202A;
}

.edit-password-link {
  background-color: #AED6F1;
  color:#17202A;
  padding:10px;
  border-radius: 2px;
  text-decoration:none;
}

.edit-password-link:hover {
  background-color:white;
  color:#17202A;
}

.login-link {
  text-decoration: none;
  color: #17202A;
  font-weight:bold;
  background-color: #5DADE2;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 2px;
}

.login-link:hover {
  transform: scale(1.05);
}

.logout-link {
  padding:10px;
  border-radius: 2px;
  background-color: #fff;
  color: #17202A;
  text-decoration:none;
  background-color: #5DADE2;
}

.logout-link:hover {
  background-color: white;
  color: #17202A;
}

.delete-task-link {
  color:#17202A;
  padding:10px;
  border-radius: 2px;
  text-decoration:none;
  background-color: #AED6F1;
  width: 30%;
  margin:2% 0;
}

.delete-task-link:hover {
  color:#17202A;
  background-color: #edede9;
}

.edit-task-link {
  color:#17202A;
  padding:10px;
  border-radius: 2px;
  text-decoration:none;
  background-color:#2E86C1;
  width:30%;
  margin: 2% 0;
}

.edit-task-link:hover {
  color:#17202A;
  background-color:#edede9;
}

/* User-related editing form styling */


.user-form-container {
  height:auto;
  display:flex;
  flex-direction:column;
  width:100%;
  align-items:center;
  justify-content: center;
  margin-top:10px;
}



.user-form {
  display:flex;
  min-width:175px;
  min-height:175px;
  padding:28px;
  background-color:#fff;
  
}

/* Task related styling */

.task-container-row {
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  background-image:linear-gradient(35deg, #AED6F1, #5DADE2);
  gap: 10px;
  padding:10px;
  margin-top: 10px;
}

.task-form-container {
  width:20%;
}
.edit-task-form-container {
  display:flex;
  justify-content: center;
  width:auto;
  margin-top:10px;
}
.task-form {
  display:flex;
  min-width:175px;
  min-height:175px;
  padding:28px;
  background-color:#fff;
}

.edit-task-form {
  display:flex;
  min-width:175px;
  min-height:175px;
  padding:28px;
  background-color:#fff;
}

.tasks-display-container {
  width:80%;
  
}

.task-display {
  display:flex;
  min-height:175px;
  gap:10px;
  justify-content:flex-start;
  flex-wrap:wrap;
  padding:10px;
  background-image:linear-gradient(35deg, #AED6F1, #5DADE2);
}

.task-box {
  display:flex;
  flex-direction:column;
  width:20%;
  min-height:175px;
  background-color:#fff;
  padding:15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius:2px;
}

.task-overview-container {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-content:center;
  /*padding: 25px;*/
}

.task-overview-box {
  display:flex;
  flex-direction:column;
  width:auto;
  height:auto;
  background-color:#fff;
  color:#17202A;
  padding:30px;
  box-shadow:0 3px 10px rgb(0 0 0 / 0.2);
  border-radius:2px;
}

@media only screen and (max-width: 600px) {
  .edit-task-form-container {
    width: 100%!important;
    display: flex;
    flex-direction: column;
  }

  .edit-task-form {
    display: flex;
    flex-direction: column;
    width:100%!important;
    justify-content: space-evenly!important;
  }

  .task-form-container {
    width:100%!important;
  }

 }

/* Comments related styling */

.comment-form {
  display:flex;
  min-width:175px;
  min-height:175px;
  padding:28px;
  color: #17202A;
  background-color:#fff;
  margin-right: 10px;
}

.comment-container {
  display:flex;
  width:100%;
  justify-content:flex-start;
  align-content:flex-start;
  /*padding: 25px;*/
}

.display-comment-container {
  display:flex;
  width:80%;
  flex-flow: row wrap;
  justify-content:flex-start;
  align-items:flex-start;
  gap:20px;

}

.display-comment-box {
  display:flex;
  flex-flow: column;
  width:40%;
  height:auto;
  border:1px solid #222222;
  background-color:#f1f1f1;
  color:#17202A;
  padding:25px;
  box-shadow:0 3px 10px rgb(0 0 0 / 0.2);
  border-radius:2px;
}

/* login form */

.login-form-container {
  margin-top: 10px;
  display:flex;
  justify-content: space-around;
  height: auto;
  align-items: center;
}

/* search form */
.search-form {
  width: 300px;
  box-shadow: none;
}